################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BillingSystem/v16/.suo
/BillingSystem/RestApi/appsettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
